QMainWindow {
    background-color: #049DBF;
}

QFrame {
    background-color: #1483C2;
}

QPushButton::pressed {
    background-color: #A0CED9;
}

QPushButton {
    background-color: #33373B;
    font-size: 16px;
    padding: 10px;
    color: white;
    width: 120px;
    border-radius: 10px;
    font-family: 'Comic Sans MS';
}

QPlainTextEdit {
    background-color: white;
    border-radius: 10px;
    font-family: 'Comic Sans MS';
    font-size: 16px;
}